@use 'base/tokens' as *;

// ========================
// Tracklog
// ========================
.tracklog-map {
  border: 1px solid $color-border-light;
  min-height: 500px;
  width: 100%;
}

.track-info {
  border: 1px solid $color-border-light;
  background: $color-bg-surface;
  padding: 0.5rem;

  th {
    padding-left: 0;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
  }
}