<footer class="site-info">
    <small>© {{ 'now' | date: "%Y" }} zhanna's adventures</small>
</footer>

<script src="/assets/js/main.js"></script>
<script src="/assets/js/accessible-tabs.js"></script>
<script src="/assets/js/lightgallery.min.js"></script>
<script>
  document.querySelectorAll('.jg').forEach((lightGalleryElement) => {
    lightGallery(lightGalleryElement, {
      // options
    })
  });
  document.querySelectorAll('.gallery').forEach((lightGalleryElement) => {
    lightGallery(lightGalleryElement, {
      // options
    })
  });
  $('.jg').justifiedGallery({
    rowHeight : 200,
    margins : 4,
    lastRow: 'justify'
  });
  $('.jg.2by2').justifiedGallery({
    rowHeight : 220,
    margins : 4,
    lastRow: 'justify'
  });
  $('.jg.single').justifiedGallery({
    rowHeight : 240,
    margins : 4,
    lastRow: 'nojustify'
  });
  $('.jg.special').justifiedGallery({
    rowHeight : 210,
    margins : 4,
    lastRow: 'justify'
  }); 
</script>
</body>
</html>