{% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
{% capture month %}{{ page.date | date: "%m" }}{% endcapture %}
{% capture day %}{{ page.date | date: "%d" }}{% endcapture %}
<!-- changed to class from id - will it work? Seems to. -->

<div class="gallery">
    {% for image in page.galleries[include.gallery_id].images %}
        <a href="https://planetzhanna.com/images/{{ year }}/{{ month }}/{{ day }}/{{ image.large_file }}">
            <img alt="{{ image.alt }}" title="{{ image.title }}" src="https://planetzhanna.com/images/{{ year }}/{{ month }}/{{ day }}/thumbnails/{{ image.thumb }}"/>
        </a>
    {% endfor %}    
</div>