{% assign geocacheid =  geocache.link | remove: "https://www.geocaching.com/geocache/"  %}

<div class="map" id="geocache-map-{{ geocacheid }}"></div>

<script src="/assets/js/basemaps.js"></script>
<script>

    var geocacheMap = L.map('geocache-map-{{ geocacheid }}',{ fullscreenControl: true, }).setView([{{ geocache.latitude }}, {{ geocache.longitude }}], 15);
    L.control.polylineMeasure({ unit: 'landmiles', showBearings: true }).addTo(geocacheMap);
    var marker = L.marker([{{ geocache.latitude }}, {{ geocache.longitude }}]).addTo(geocacheMap);
    marker.bindPopup("{{ geocache.title }}");

    objBasemaps['USGS Topo'].addTo(geocacheMap); // Assign default basemap
    
    var objOverlays = {  
        'Geocache' : marker      
    };     

    L.control.layers(objBasemaps, objOverlays).addTo(geocacheMap);
</script>