<div class="map-wrapper">
    <div class="map" id="geocache-map"></div>
</div>

<script>
    var markMap = L.map('geocache-map').setView([{{ geocache.latitude }}, {{ geocache.longitude }}], 15);
    var marker = L.marker([{{ geocache.latitude }}, {{ geocache.longitude }}]).addTo(markMap);

    L.tileLayer('https://caltopo.s3.amazonaws.com/topo/{z}/{x}/{y}.png', {"attribution":"USDA images from <a href='http://caltopo.com/'>CalTopo</a>", "minZoom":6, "maxZoom":16}).addTo(markMap);

    marker.bindPopup("{{ geocache.title }}");
</script>