<div class="map-wrapper">
    <div class="map" id="geocache-map-{{ geocache.geocache_id }}"></div>
</div>

<script src="/assets/js/basemaps.js"></script>
<script>

    var markMap = L.map('geocache-map-{{ geocache.geocache_id }}').setView([{{ geocache.latitude }}, {{ geocache.longitude }}], 15);
    var marker = L.marker([{{ geocache.latitude }}, {{ geocache.longitude }}]).addTo(markMap);
    marker.bindPopup("{{ geocache.title }}");

    objBasemaps['USGS Topo'].addTo(markMap); // Assign default basemap
    
    var objOverlays = {  
        'Geocache' : marker      
    };     

    L.control.layers(objBasemaps, objOverlays).addTo(markMap);
</script>