<!-- Try https://stackoverflow.com/questions/40772841/how-to-position-fixed-the-navbar-when-using-flexbox -->
<div class="wrapper">
  <header id="masthead" class="site-header">
    <div class="inside-header">
      <h1 class="site-title"><a href="{{ site.baseurl }}/">{{site.title | downcase}}</a></h1>
      <span class="search-toggle">
        <a href="#" onclick="openPagefindSearch(event)">
          {% include icons/fa-fa-search.svg class="icon fa-search" %}
        </a>
      </span>
      {% include nav.html %}
    </div>
  </header>
</div>