<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/justifiedGallery.min.css" />
    <script src="/assets/js/jquery.justifiedGallery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/css/lightgallery-bundle.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ylj3vqm.css">
    <link rel="stylesheet" href="/assets/css/super-search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Handlee&family=Lora:ital,wght@1,400;1,700&family=Mulish:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cf0805ef87.js" crossorigin="anonymous"></script>
  </head>
  <body>