<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <!-- <script src="/assets/vendor/jquery/jquery-3.7.1.slim.min.js"></script> -->
  <!-- <link rel="stylesheet" href="/assets/css/justifiedGallery.min.css" />
  <script src="/assets/js/jquery.justifiedGallery.min.js"></script> -->
  <script src="/assets/js/justified-gallery-no-query.js"></script>
  <link type="text/css" rel="stylesheet" href="/assets/css/lightgallery-bundle.min.css" />
  <!-- Leaflet.js -->
  <link rel="stylesheet" href="/assets/vendor/leaflet/leaflet.css" />
  <script src="/assets/vendor/leaflet/leaflet.js"></script>
  <script src="/assets/vendor/leaflet-polylinemeasure/Leaflet.PolylineMeasure.js"></script>
  <link rel="stylesheet" href="/assets/vendor/leaflet-polylinemeasure/Leaflet.PolylineMeasure.css" />
  <script src='/assets/vendor/leaflet-fullscreen/Leaflet.fullscreen.min.js'></script>
  <link href='/assets/vendor/leaflet-fullscreen/leaflet.fullscreen.css'
    rel='stylesheet' />
  <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-component-ui.js" type="module"></script>
  {% if page.layout != "post" and page.pagefind != true %}
  <meta name="pagefind" content="noindex">
  {% endif %}
</head>

<body>
  <pagefind-modal id="search-modal"></pagefind-modal>