{% capture imagePath %}https://planetzhanna.com/images/{{ page.date | date: "%Y/%m/%d" }}/{{ include.large_file }}{% endcapture %}
{% capture thumb %}https://planetzhanna.com/images/{{ page.date | date: "%Y/%m/%d" }}/thumbnails/{{ include.thumb }}{% endcapture %}

<div class="gallery"> 
    <a data-sub-html="<div class='lg-relative-caption-item'>{{ include.caption }}</div>" href="{{ imagePath }}" title="{{ include.caption }}">
        <figure> 
            <img alt="{{ include.caption }}" src="{{ thumb }}">
            <figcaption>{{ include.caption }}</figcaption>
        </figure>
    </a>
</div>
