
<article class="archive-excerpt">
  <h2>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </h2>
  <div class="excerpt">
   {{ post.excerpt }} 
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
      Read More ...
    </a>
  </div>
  <footer class="archive-meta">
    <span class="date">
      <i class="fa-solid fa-calendar-days"></i>
      {{ post.date | date: "%e %b %Y" }}</span>         
      <i class="fa-solid fa-folder"></i>
    {% for category in post.categories%}  
      <span class="category">
        <a href="/categories/{{ category | slugify }}">{{ category | capitalize }}</a>{% unless forloop.last %}, {% endunless %}
      </span>
    {% endfor %}
    </footer>
</article>
