{% assign todaysm = site.data.surveymarks | where: "post_id", page.post_id %}

<h2 class="surveymark-heading">
    {% if todaysm.size == 1 %}
      Today's Survey Mark
    {% else %}  
      Today's Survey Marks
    {% endif %}
</h2>

<ul class="surveymark-list">
{% for mark in todaysm %}

    {% if mark.pid %}
      {% if mark.mark_type == "Reference Mark" %}
        <li><a href="https://thesurveystation.com/reference-marks/{{ mark.pid | slugify }}">{{ mark.designation }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
      {% else %}
        <li><a href="https://thesurveystation.com/surveymarks/{{ mark.pid | slugify }}">{{ mark.designation }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
      {% endif %}  
    {% elsif mark.custom_permalink %}
      {% if mark.mark_type == "Reference Mark" %}
        <li><a href="https://thesurveystation.com/reference-marks/{{ mark.custom_permalink | slugify }}">{{ mark.designation }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
      {% else %}
        <li><a href="https://thesurveystation.com/surveymarks/{{ mark.custom_permalink | slugify }}">{{ mark.designation }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
      {% endif %}
    {% else %}
        <li><a href="https://thesurveystation.com/surveymarks/{{ mark.designation | slugify }}">{{ mark.designation }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>

    {% endif %}
{% endfor %}
</ul>