<div class="map tracklog-map" id="tracklog-map"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/2.1.2/gpx.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>
<link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
<!-- Load Esri Leaflet from CDN.  it has no .css stylesheet of its own, only .js -->
<script src="https://unpkg.com/esri-leaflet@3.0.12/dist/esri-leaflet.js"></script>
<script>
    var objBasemaps = {
        'OpenStreetMap': L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a target="_blank" href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }),
        'USGS Topo': L.tileLayer('https://caltopo.s3.amazonaws.com/topo/{z}/{x}/{y}.png', {
            attribution: 'USDA images from <a target="_blank" href="http://caltopo.com/">CalTopo</a>',
            maxZoom: 16,
            minZoom: 6
        }),
        'US National Map': L.tileLayer('https://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }),
        'NatGeo': L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
            maxZoom: 16
        }),
        'Imagery (Clarity)': L.tileLayer('https://clarity.maptiles.arcgis.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        })
    };

    var latlngs = [[43.02071359427862, -70.83984375],[44.43377984606822, -66.90673828125],[47.45780853075031, -67.17041015625],[47.41322033016902,-71.08154296875],[43.02071359427862, -70.83984375]];
    
    var polygon = L.polygon(latlngs, {}); 

    var latlngs1903 = [[44.276937,-68.162799],[44.450338,-68.163884],[44.434830,-68.308574],[44.283651,-68.314044],[44.276937,-68.162799]];

    var polygon1903 = L.polygon(latlngs1903, {});

    var latlngs1911 = [[44.201179,-68.156388],[44.482209,-68.151643],[44.480535,-68.473502],[44.205968,-68.468638],[44.201179,-68.156388]];

    var polygon1911 = L.polygon(latlngs1911, {});

    var latlngsLLP = [[44.27924,-68.24013],[44.32135,-68.23993],[44.32169,-68.28596],[44.27957,-68.28616],[44.27924,-68.24013]];

    var polygonLLP = L.polygon(latlngsLLP, {});

    let lyrME1910Topos = L.esri.imageMapLayer({
            url: 'https://gis.maine.gov/arcgis/rest/services/imageryBaseMapsEarthCover/topoUsgs24k1910/ImageServer',
            maxZoom: 16
        });

    let lyrME1945Topos = L.esri.imageMapLayer({
            url: 'https://gis.maine.gov/arcgis/rest/services/imageryBaseMapsEarthCover/topoUsgs24k1945/ImageServer',
            maxZoom: 16
        });

    let lyr1903PathMap = L.tileLayer('https://geo.leventhalmap.org/maps/tile/5793/{z}/{x}/{y}.png', {
            attribution: "Map reproduction courtesy of the Norman B. Leventhal Map & Education Center at the Boston Public Library",
            maxZoom:16
        });

    let lyr1911PathMap = L.tileLayer('https://geo.leventhalmap.org/maps/tile/4694/{z}/{x}/{y}.png', {
            attribution: "Map reproduction courtesy of the Norman B. Leventhal Map & Education Center at the Boston Public Library",
            maxZoom: 16
        });
        
    let lyr1942AcadiaTopo = L.tileLayer('https://mapwarper.net/maps/tile/24419/{z}/{x}/{y}.png', {
            attribution: "Courtesy of MapWarper.net",
            maxZoom: 16
        });

    let lyrLittleLongPond = L.tileLayer('https://mapwarper.net/maps/tile/55790/{z}/{x}/{y}.png', {
            attribution: "Courtesy of MapWarper.net",
            maxZoom: 16
        });

    var tracklogMap = L.map('tracklog-map', { fullscreenControl: true, }).setView([44.5, -69], 15);
      
    objBasemaps['OpenStreetMap'].addTo(tracklogMap); // Assign default basemap
    
    var objOverlays = {        
    };     

    var gpx = "https://tracklogs.planetzhanna.com/{{ page.tracklog }}";

    var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(tracklogMap);  
    
    L.control.polylineMeasure({unit: 'landmiles', showBearings: true}).addTo(tracklogMap);

    const lyrGPX = new L.GPX(gpx, {
            async: true,
            markers: {
                wptIconUrls: {
                    '': '200px-Yellow_icon.svg.png',
                    'Flag, Blue': 'blue-flag-32.png'
                },   
                iconSize: [20, 20],
				iconAnchor: [0, 16],             
                startIcon: null,
                endIcon: null
                },
            polyline_options: {
                color: "red"
                }
            }).on('loaded', (e) => {
                tracklogMap.fitBounds(e.target.getBounds());
                if (e.target.getBounds().intersects(polygon.getBounds())) {
                    ctlLayers.addBaseLayer(lyrME1910Topos,"Maine 1910 Topo");
                    ctlLayers.addBaseLayer(lyrME1945Topos,"Maine 1945 Topo"); 
                };
                if (e.target.getBounds().intersects(polygon1903.getBounds())){
                    ctlLayers.addBaseLayer(lyr1903PathMap,"1903 Path Map");
                }
                if (e.target.getBounds().intersects(polygon1911.getBounds())){
                    ctlLayers.addBaseLayer(lyr1911PathMap,"1911 Path Map");
                    ctlLayers.addBaseLayer(lyr1942AcadiaTopo,"Acadia 1942 Topo");
                }
                if (e.target.getBounds().intersects(polygonLLP.getBounds())){
                    ctlLayers.addBaseLayer(lyrLittleLongPond,"Little Long Pond Trails");
                }
                
                var track = e.target,
                distMi = track.get_distance_imp().toFixed(3);
                elGainFt = track.get_elevation_gain_imp().toFixed(0);
                elLossFt = track.get_elevation_loss_imp().toFixed(0);
                timeMoveMs = track.get_moving_time();
                 
            // create track details box
            const legend = L.control({ position: "bottomright" });

            legend.onAdd = function () {
                let div = L.DomUtil.create("div", "track-info");
                return div;
            };

            legend.addTo(tracklogMap);

            let desc = document.querySelector(".track-info");

            desc.innerHTML = "<table><tbody><tr><th>Track Data</th></tr><tr><td><b>Total distance</b></td><td>" + distMi + " mi.</td></tr><tr><td><b>Elev. gain/loss</b></td><td> " + elGainFt +"'/" + elLossFt + "'</td></tr></tbody></table>";
          
            }).addTo(tracklogMap);
            
    ctlLayers.addOverlay(lyrGPX,"GPX");
       
</script>