$bodyBackgroundColor: #60829e;
$bodyColor: #6f6361;
$bodyFont: proxima-nova,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyFontSize: 1.125rem;
$bodyFontWeight: 400;
$headingFont: 'Handlee', cursive;
$innerBackgroundColor: #ffffff;
$footerColor: #ffffff;

body {
  background: $bodyBackgroundColor;
  box-sizing: border-box;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $bodyFontWeight;
  line-height: 1.8;
}

main {
  background-color: rgba(255,255,255,0.5);
  max-width: 1050px;
  margin: 0 auto;
  padding: 1.15em;

  section {
    background: $innerBackgroundColor;
    margin: 0 auto;
    padding: 3rem 5.263rem;
    max-width: 880px; 
  }  
}

.post-navigation {
  background-color: transparent;
  margin: 0 auto;
  max-width: 1050px;
  padding: 1rem 0;  
  font-weight: bold;  

  a  {
    color: #fff;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dashed white;
    }   
  }

  .prev-post {
    &::before {
      content: "\02C2";
      margin-right: 0.5rem;
    }
  }

  .next-post {
    &::after {
      content: "\02C3";
      margin-left: 0.5rem;
    }
  }  

  a:hover::before {
    text-decoration: none;
  }
}

.emoji {
  vertical-align: text-bottom;
}

.site-info {
  color: $footerColor;
  text-align: center;
}

h1 {
  font-family: $headingFont;
  font-size: 1.75rem;
  font-weight: 700;
}

h2 {
  font-family: $headingFont;
  font-size: 1.375rem;
  font-weight: 700;
}

em, i {
  font-family: Lora, serif;
  font-style: italic;
}

blockquote {
  font-family: Lora, 'Times Roman', serif;
  font-size: 1.09rem;
  font-style: italic;
  line-height: 1.625rem;
  margin: 28px 0 28px;
  padding-bottom: 0;
  padding-top: 0;
  border-left: 5px solid #d1dce5;
  padding: 0 20px;
}

small {
  font-size: 1.1rem;

  a {
    color: #fff;
    text-decoration: none
  };
}

// POST META

.entry-header {
  color: #595959;
  display: flex;

  .cat-links{
    font-family: Muli, Arial;
    font-size: 12px;
    letter-spacing: 1px;    
    text-transform: uppercase;

    a {
      border: 0;
      color: #595959;
      text-decoration: none;

      &:hover {
        color: #1e73be;
      }
    }
  }
    
  h1 {    
    margin: 0;
  }

  .byline {
    font-size: 0.875rem;
  }
}

.post-date {
  background-color: #fff;
  border-bottom: solid 5px #d1dee9;  
  border-radius: 38px;
  border-top: solid 5px #d1dee9;  
  float: left;
  margin: 5px 24px 5px 0;
  padding: 10px;
  text-align: center;
  width: 52px;

  .month {
    background-image: none;
    box-shadow: none;
    display: block;
    font: 11px/100% Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 2px 0;
    text-transform: uppercase;
    padding: 2px 0;
    position: relative;
    top: -1px;
    width: 100%;
    border-radius: 10px;
  }

  .day {
    color: #60829e;
    display: block;
    font: bold 24px/100% Arial,Helvetica,sans-serif;
    padding: 2px 0 4px;
  }
  
  .year {
    color: #666;
    display: block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    padding: 0 0 4px;
  }
}

// ARTICLE/ENTRY CONTENT

article a {
  border-bottom: 1px dashed #80a5c5;
  color: #1e73be;
  text-decoration: none;

  &:hover,&:active,&:focus {
    border-bottom: 1px solid #018ed3;
    color: #018ed3;
    text-decoration: none;
  }

  &.button {
    background: #666666;
    border-bottom: 0;
    color: #fff;    
    display: inline-block;
    padding: 10px 20px;      

    &:hover,&:active,&:focus {
      background-color: #3f3f3f;
    }
  }
}

// POST COMMENTS (Giscus)

section.comments {
  background-color: rgba(255, 255, 255, 0.7);
}

.comment-reply-header {
  font-size: 1rem;
  text-transform: uppercase;
}

// GEOCACHE INDIVIDUAL LAYOUT

.geocache-data-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.geocache-map iframe {
  border:1px solid #000;
  height:300px;
  width:400px;
}


// ACCORDION (for Geocaches)

.accordionItem {
  border-bottom: 1px solid #ddd;

  h2 { 
    margin: 0; 
    font-size: 1.1em; 
    padding: 0.4em; 
  
    &:hover { 
      cursor: pointer; 
    }
  }

  > div { 
    margin: 0; 
    padding: 1em 0.4em;
  }

  &.hide {
    h2 { 
      color: #000; 
    }

    div { 
      display: none;      
    }
  }
}

// IMAGE GALLERIES

.gallery {
  background-color: #e7ecf0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-basis: calc(100% / 4);
  margin-bottom: 1.25rem;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  a {    
    border-bottom: 0;
    text-decoration: none;

    &:hover, &:active, &:focus {
      border-bottom: 0;
      text-decoration: none;
    }
  }

  div {
    flex: 1;
    flex-basis: 240px;
    margin: 0.263rem;    

    @media (max-width: 768px) {
      margin: 0 auto 0.5rem auto;
    }
  }

  img {
    height: auto;
    width: 100%;  
  }

  figcaption {  
    color: #444;  
    font-family: Lora, serif;
    font-size: 1rem;
    font-style: italic;    
    line-height: 1.2rem;
    text-align: center;
  }
}

.justified-gallery {
  
  a {
    border-bottom: 0;

    &:hover,&:active,&:focus {
      border-bottom: 0;
    }
  }
}

// TABS

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.example-tabs-tabs__list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.example-tabs-tabs__item {
  display: inline-block;  
}

.example-tabs-tabs__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: transparent;
  cursor: pointer;
  color: #148297;
}

[aria-selected="true"].example-tabs-tabs__link {
  color: #000;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: -1px;

  &:hover {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
  }
}

[aria-selected="false"].example-tabs-tabs__link {
  border: 1px solid transparent;
  border-bottom: 0;

  &:hover {
    border: 1px solid #ccc;
    border-bottom: 0;
  }
}

.example-tabs-tabs__content {
  background: transparent;
  padding: 1em;
}

[aria-hidden="true"].example-tabs-tabs__content {
  display: none;
}

.js-tablist__item a {
  border: 0;

  &:hover {
    border: 0;
  }
}

// NAVIGATION

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

// ARCHIVE PAGES

.page-header {
  border-bottom: 1px solid #eee;
  margin: 0.625rem 0 1.875rem;

  .archive-title {
    color: #fff;
    font-family: $bodyFont;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 0.625rem;    
    text-transform: uppercase;
  }
}

.archive-grid.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;  

  a {
    color: $bodyColor;
    text-decoration: none;
  }

  .card {
    background-color: #fff;
    padding: 1rem;
    padding-bottom: 0.6rem;

    img {
      height: auto;
      width: 100%;
    }

    h2 {
      font-family: $bodyFont;
      margin: 0;
      text-align: center;
    }
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  } 
  
  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }  
}
