$bodyBackgroundColor: #60829e;
$bodyColor: #6f6361;
$bodyFont: Mulish,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyFontSize: 1.125rem;
$bodyFontWeight: 400;
$headingFont: 'Handlee', cursive;
$lightHeadingColor: #fff;
$innerBackgroundColor: #fff;
$footerColor: #fff;

@mixin italic-text {
  font-family: Lora, serif;
  font-style: italic;
}

body {
  background: $bodyBackgroundColor;
  box-sizing: border-box;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $bodyFontWeight;
  line-height: 1.6;
}

main {
  background-color: rgba(255,255,255,0.5);
  max-width: 1050px;
  margin: 0 auto;
  padding: 1.15em;

  section {
    background: $innerBackgroundColor;
    margin: 0 auto;
    padding: 3rem 5.263rem;
    max-width: 880px; 
  }  
}

.post-navigation {
  background-color: transparent;
  margin: 0 auto;
  max-width: 1050px;
  padding: 1rem 0;  
  font-weight: bold;  

  a  {
    color: #fff;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dashed white;
    }   
  }

  .prev-post {
    &::before {
      content: "\02C2";
      margin-right: 0.5rem;
    }
  }

  .next-post {
    &::after {
      content: "\02C3";
      margin-left: 0.5rem;
    }
  }  

  a:hover::before {
    text-decoration: none;
  }
}

.emoji {
  vertical-align: text-bottom;
}

.site-title {
  color: $lightHeadingColor;
}

.site-info {
  color: $footerColor;
  text-align: center;
}

h1 {
  color: $bodyColor;
  font-family: $headingFont;
  font-size: 1.75rem;
  font-weight: 700;
}

h2 {
  font-family: $headingFont;
  font-size: 1.375rem;
  font-weight: 700;
}

em, i, cite {
  @include italic-text;
}

blockquote {
  font-family: Lora, 'Times Roman', serif;
  font-size: 1.09rem;
  font-style: italic;
  line-height: 1.625rem;
  margin: 28px 0 28px;
  padding-bottom: 0;
  padding-top: 0;
  border-left: 5px solid #d1dce5;
  padding: 0 20px;
}

small {
  font-size: 1.1rem;

  a {
    color: #fff;
    text-decoration: none
  };
}

// POST META

.entry-header {
  color: #595959;
  display: flex;
  margin-bottom: 4rem;

  .cat-links{
    font-family: Muli, Arial;
    font-size: 12px;
    letter-spacing: 1px;    
    text-transform: uppercase;

    a {
      border: 0;
      color: #595959;
      text-decoration: none;

      &:hover {
        color: #1e73be;
      }
    }
  }
    
  h1 {    
    margin: 0;
  }

  .byline {
    font-size: 0.875rem;
  }
}

.post-date {
  background-color: #fff;
  border-bottom: solid 5px #d1dee9;  
  border-radius: 38px;
  border-top: solid 5px #d1dee9;  
  float: left;
  margin: 5px 24px 5px 0;
  padding: 10px;
  text-align: center;
  width: 52px;

  .month {
    background-image: none;
    box-shadow: none;
    display: block;
    font: 11px/100% Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 2px 0;
    text-transform: uppercase;
    padding: 2px 0;
    position: relative;
    top: -1px;
    width: 100%;
    border-radius: 10px;
  }

  .day {
    color: #60829e;
    display: block;
    font: bold 24px/100% Arial,Helvetica,sans-serif;
    padding: 2px 0 4px;
  }
  
  .year {
    color: #666;
    display: block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    padding: 0 0 4px;
  }
}

// ARTICLE/ENTRY CONTENT

article a {
  border-bottom: 1px dashed #80a5c5;
  color: #1e73be;
  text-decoration: none;

  &:hover,&:active,&:focus {
    border-bottom: 1px solid #018ed3;
    color: #018ed3;
    text-decoration: none;
  }

  &.button {
    background: #666666;
    border-bottom: 0;
    color: #fff;    
    display: inline-block;
    padding: 10px 20px;      

    &:hover,&:active,&:focus {
      background-color: #3f3f3f;
    }
  }
}

// POST COMMENTS (Giscus)

section.comments {
  background-color: rgba(255, 255, 255, 0.7);
}

.comment-reply-header {
  font-size: 1rem;
  text-transform: uppercase;
}

// GEOCACHE INDIVIDUAL LAYOUT

.geocache-data-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.geocache-map iframe {
  border:1px solid #000;
  height:300px;
  width:400px;
}


// ACCORDION (for Geocaches)

.accordionItem {
  border-bottom: 1px solid #ddd;

  h2 { 
    margin: 0; 
    font-size: 1.1em; 
    padding: 0.4em; 
  
    &:hover { 
      cursor: pointer; 
    }
  }

  > div { 
    margin: 0; 
    padding: 1em 0.4em;
  }

  &.hide {
    h2 { 
      color: #000; 
    }

    div { 
      display: none;      
    }
  }
}

// IMAGE GALLERIES

.gallery {
  background-color: #e7ecf0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-basis: calc(100% / 4);
  margin-bottom: 1.25rem;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  a {    
    border-bottom: 0;
    text-decoration: none;

    &:hover, &:active, &:focus {
      border-bottom: 0;
      text-decoration: none;
    }
  }

  div {
    flex: 1;
    flex-basis: 240px;
    margin: 0.263rem;    

    @media (max-width: 768px) {
      margin: 0 auto 0.5rem auto;
    }
  }

  img {
    height: auto;
    width: 100%;  
  }

  figcaption {  
    color: #444;  
    font-family: Lora, serif;
    font-size: 1rem;
    font-style: italic;    
    line-height: 1.2rem;
    text-align: center;
  }
}

.justified-gallery {
  
  a {
    border-bottom: 0;

    &:hover,&:active,&:focus {
      border-bottom: 0;
    }
  }
}

// TABS

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.example-tabs-tabs__list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.example-tabs-tabs__item {
  display: inline-block;  
}

.example-tabs-tabs__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: transparent;
  cursor: pointer;
  color: #148297;
}

[aria-selected="true"].example-tabs-tabs__link {
  color: #000;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: -1px;

  &:hover {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
  }
}

[aria-selected="false"].example-tabs-tabs__link {
  border: 1px solid transparent;
  border-bottom: 0;

  &:hover {
    border: 1px solid #ccc;
    border-bottom: 0;
  }
}

.example-tabs-tabs__content {
  background: transparent;
  padding: 1em;
}

[aria-hidden="true"].example-tabs-tabs__content {
  display: none;
}

.js-tablist__item a {
  border: 0;

  &:hover {
    border: 0;
  }
}

// NAVIGATION
//== Variables
//
$color-white:                  #fff;
$color-white-darker:           darken($color-white, 5%);
$color-white-darken:           darken($color-white, 15%);
$header-height:                80px;
$nav-toggle-size:              2rem;
$nav-toggle-transition-speed:  .3s;
$nav-transition-speed:         .6s;
$nav-width:                    25vw;
$zindex-header:                500;

.navhead {
  height: $header-height;
  right: 0;
  padding: 0.5rem;
  position: fixed;
  text-align: right;
  top: 0;
  transition: transform $nav-transition-speed;
  z-index: $zindex-header;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.nav-button {
  text-transform: uppercase;
}

.nav-wrapper {
  background-color: #343c55;
  box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.75);
  height: 100vh;
  padding-top: $header-height;
  perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform $nav-transition-speed, visibility $nav-transition-speed;
  visibility: hidden;
  width: $nav-width;
  overflow-y: auto;
  
  .nav-visible & {
    transform: translateX(0);
    visibility: visible;
  }
}

.nav {
  position: relative;
  transform: rotateY(90deg);
  transform-origin: left center;
  transition: transform $nav-transition-speed;
  
  .nav-visible & {
    transform: rotateY(0deg);
  }
  
  li {
    &.active {
      a {
        background-color: #212635;
      }
    }
  }
  
  a {
    display: block;
    line-height: 1.4;
    padding: 0.7em 0.5em 0.7em 1.4em;
    text-transform: uppercase;
    
    &:focus,
    &:hover {
      background-color: #2b3145;
      text-decoration: none;
    }
  }
}

//== Nav active marker
//
.nav-marker {
  background-color: currentColor;
  height: 2.8rem;
  position: absolute;
  right: 0;
  top: $header-height;
  width: 3px;
  
  &:before {
    border: 5px solid transparent;
    border-right-color: inherit;
    content: "";
    height: 0;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }
}

.color-1 {
  color: deeppink;
}

//== Menu toggle (hamburger)
//
@mixin button-lines {
  background: $color-white;
  border-radius: $nav-toggle-size/10;
  display: inline-block;
  height: $nav-toggle-size/10;
  width: $nav-toggle-size;
}

.button-lines {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: $nav-toggle-size/2 $nav-toggle-size/4;
  user-select: none;
}

.lines {
  @include button-lines;
  position: relative;
  
  &:after,
  &:before {
    @include button-lines;
    content: "";
    left: 0;
    position: absolute;
  }

  &:after {
    top: $nav-toggle-size/4;
  }
  
  &:before {
    top: -$nav-toggle-size/4;
  }
}

.button-lines-x {
  .lines {
    transition: background .3s ease;

    &:after,
    &:before {
      transform-origin: 50% 50% 0;
      transition: top .3s .4s ease, transform .3s ease;
    }    
  }

  .nav-visible & {
    .lines {
      background: transparent;
      
      &:after,
      &:before {
        top: 0;
        transition: top .3s ease, transform .3s .3s ease;
      }
      
      &:after {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      
      &:before {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}

/* Accordion menu */

ul.menu {
  padding: 0;
  list-style: none;
  width: 400px;
  margin: 20px auto;
  font-family: 'Roboto';
  box-shadow: 0px 0px 25px #00000070;
  clear: both;
  display: table;
}
ul.menu .list,
ul.menu button {
  font-size: 14px;
  border-bottom: 1px solid #324252;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  vertical-align: sub;
  background: #3e5165;
  clear: both;
  text-align: left;
}
ul.menu .list.submenu:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 17px;
  top: 17px;
  padding: 0px 5px;
  color: #fff;
}
ul.menu .list a {
  text-decoration: none;
  color: #fff;
  padding: 17px 0px 17px 45px;
  display: block;
  height: 100%;
  box-sizing: border-box;
}
ul.menu .list a:hover {
  background-color: #324252;
  transition: 300ms all;
  color: #09fbd2;
}
ul.menu .list .items {
  height: 0px;
  overflow: hidden;
}
ul.menu .list .items a {
  padding: 17px;
}
ul.menu .list .items a:hover {
  background-color: #3f5d79;
  color: #fff;
  transition: 300ms all;
}
ul.menu .list:last-child {
  border-bottom: none;
}
ul.menu .submenu.active:after {
  content: "\f106";
  font-family: FontAwesome;
  position: absolute;
  right: 17px;
  top: 17px;
  padding: 0px 5px;
  color: #fff;
}
ul.menu .active > .items {
  display: block;
  background: #23313f;
  padding: 0px;
  height: auto;
  color: #fff;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms;
  clear: both;
  float: left;
  width: 100%;
}
ul.menu .active > .items li {
  padding: 0px;
  border-bottom: 1px solid #324252;
  list-style: none;
}
ul.menu .active > .items li:last-child {
  border-color: transparent;
  padding-bottom: 0px;
}
ul.menu .active > .items .active > .items {
  background-color: #2f4b67;
}
ul.menu .active > a {}
ul.menu .active .list {
  background: #697d92;
}
ul.menu .active .list a {
  padding: 17px 0px 17px 45px;
}


// ARCHIVE PAGES

.category-excerpts {
  background-color: #b0c1cf; 
  max-width: 1100px;
  padding: 0; 
}

.archive-excerpt {
  background-color: #fff; 
  margin-bottom: 1em;
  padding: 2rem 5rem;

  h2 {
    font-size: 1.65rem;
    margin-bottom: 1rem;
    margin-top: 0;

    a {
      border: 0;
      color: $bodyColor;

      &:hover {
        color: #79b0c3;
      }
    }
  }

  .read-more {
    @include italic-text;
    border: 0;
    font-size: 90%;
    margin-left: 0.7rem;
    white-space: nowrap;
  }
}

.archive-meta {
  margin-top: 1.5rem;

  .date,
  .category,
  .fa-solid {
    color: #90a8bb;
    font-size: 80%;
  }
  .date {
    margin-right: 1rem;
  }
  a {   
    border: 0;
    color: #90a8bb;
    text-decoration: none;

    &:hover,&:focus,&:active {
      border: 0;
      color: #90a8bb;
      text-decoration: none;
    }
  }
}

.page-header {
  border-bottom: 1px solid #eee;
  margin: 0.625rem 0 1.875rem;

  .archive-title {
    color: $lightHeadingColor;
    font-family: $bodyFont;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 0.625rem;    
    text-transform: uppercase;
  }
}

.archive-grid.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;  

  a {
    color: $bodyColor;
    text-decoration: none;
  }

  .card {
    background-color: #fff;
    padding: 1rem;
    padding-bottom: 0.6rem;

    img {
      height: auto;
      width: 100%;
    }

    h2 {
      font-family: $bodyFont;
      margin: 0;
      text-align: center;
    }
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  } 
  
  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }  
}
