$bodyBackgroundColor: #60829e;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$innerBackgroundColor: #ffffff;
$footerColor: #ffffff;

body {
  background: $bodyBackgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

main {
  background: $innerBackgroundColor;
  margin: 0 auto;
  padding: 1rem;
  width: 70%; 
}

.emoji {
  vertical-align: text-bottom;
}

.site-info {
  color: $footerColor;
  text-align: center;
}
