@use '../base/tokens' as *;
@use '../base/breakpoints' as *;

// ========================
// Map
// ========================

.map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}

// ========================
// Leaflet Overrides
// ========================

article .leaflet-control a {
  border: 0;
}

.leaflet-control-layers-list {
  padding: 0;
}

path.leaflet-interactive:focus {
  outline: none;
}
