---
layout: default
---

{% capture cat_1 %}{{page.category_1}}{% endcapture %}
{% if page.category_2 %}
  {% capture cat_2 %}{{page.category_2}}{% endcapture %}
{% endif %}

<header class="page-header">
  <h1 class="archive-title">{{ cat_1 | capitalize }} > {{ cat_2 | capitalize }}</h1>
</header>

{% if cat_2 %}
  {% assign filtered_posts = site.posts | sort:"date" | where_exp: "item", "item.categories contains cat_1 and item.categories contains cat_2" %}
{% else %}
  {% assign filtered_posts = site.posts | sort:"date" | where_exp: "item", "item.categories contains cat_1" %}
{% endif %}

{% for post in filtered_posts %}
  {% include post-archive.html %}
{% endfor %}  