---
layout: default
---
{% include head.html %}

{{ page.date | date: "%b %e %Y" | upcase }}

<h1>{{ page.title }}</h1>
By {{ page.author }}

{{ content }}

{% if page.geocaches %}
    {% include geocache.html %}    
{% endif %}

<div class="gallery">
    {% for image in page.gallery %}
        <div>
            <a href="{{ image.large_file }}"><img src="{{ image.thumb }}" alt="{{ image.alt }}" title="{{ image.title }}"></a>
        </div>
    {% endfor %}
</div>

{% if page.surveymarks %}
    {% include surveymark.html %}    
{% endif %}

